@using Sheet4Part2.Models
@model Sheet4Part2.Models.SubReceipt
@{
    ViewBag.Title = "Receipt";
}

<h2 class="text-center">StarSubs Receipt</h2>
<h3 class="text-center">Today's Date: </h3> 

<p class="text-center">Type of Sub: </p> <p>@Html.DisplayFor(model => model.SandwichType)</p>



